<div [ngClass]="isFullScreen?'full-screen':''">
  <p-panel styleClass="p-no-padding">
    <p-header>
      <div class="ui-helper-clearfix drag-handle" ngxDragHandle>
        <i class="fa fa-list-alt"></i>
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Logged Work - [User - Day wise]</span>
        <div class="pull-right">
          <app-date-range-picker [(ngModal)]="dateRange" (selected)="dateSelected($event)"></app-date-range-picker>
          <button pButton icon="fa-users" (click)="showGroupsPopup=true"></button>
          <button pButton [icon]="isFullScreen?'fa-compress':'fa-expand'" (click)="isFullScreen=!isFullScreen"></button>
          <button pButton icon="fa-refresh" (click)="generateReport();"></button>
          <div *ngIf="groupedData || flatData" jaExport [element]="tblGrp || tblFlat || wldiv" fileName="User Daywise Worklogs"></div>
          <button pButton icon="fa-cogs" (click)="showSettings=true"></button>
        </div>
      </div>
    </p-header>
    <p-blockUI [target]="wldiv" [blocked]="isLoading">
      <i class="fa fa-refresh fa-spin fa-5x" style="position:absolute;top:25%;left:50%"></i>
    </p-blockUI>
    <p-panel [showHeader]="false" #wldiv>
      <div *ngIf="!groupedData && !isLoading" style="padding:15px;">
        Choose a date for which you would like to view the report or click the refresh ( <i class="fa fa-refresh"></i> ) icon to
        load the report for selected date. You can choose the list of users by clicking the ( <i class="fa fa-users"></i> ) icon.

        <p>
          <strong>Note:</strong> If you want to repeatedly view the report for set of users, you can add those users under a group.
          Click on Settings <i class="fa fa-arrow-right"></i> User groups from left hand menu to add it.
        </p>
      </div>
      <div *ngIf="isLoading" style="padding:15px;">Loading... please wait while the report is being loaded. It may take few seconds / minute based on the range you had selected.</div>
      <p-scrollPanel *ngIf="groupedData && pageSettings.groupMode != '2'" [style]="{width:'100%',height: contentHeight+'px'}" styleClass="cont-div">
        <table #tblGrp class="table table-bordered data-center" style="width:100%;">
          <thead>
            <tr class="data-center">
              <th style="min-width:380px;" rowspan="2">User Details</th>
              <th style="min-width:35px;" *ngFor="let day of months" [attr.colspan]="day.days">{{day.monthName}}</th>
              <th style="min-width:50px;" rowspan="2">Total Hours</th>
            </tr>
            <tr>
              <th style="min-width:35px;" *ngFor="let day of dates">{{day.display}}</th>
            </tr>
          </thead>
          <tbody *ngIf="userDayWise && userDayWise.length == 0">
            <tr><td colspan="9">No records exists</td></tr>
          </tbody>
          <tbody *ngFor="let grp of groupedData">
            <tr class="grouped-row">
              <td>{{grp.name}}</td>
              <td *ngFor="let day of dates">{{ grp.total[day.prop] | convertSecs:{format:pageSettings.logFormat=='1'} }}</td>
              <td>{{ grp.grandTotal | convertSecs:{format:pageSettings.logFormat=='1'} }}</td>
            </tr>
            <ng-container *ngFor="let u of grp.users">
              <tr class="pointer" (click)="u.expanded=!u.expanded">
                <td class="data-left">
                  <div class="user-info" style="padding-left:0px;">
                    <i class="pull-left drill-down fa" [ngClass]="u.expanded ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'" title="Click to toggle ticket details"></i>
                    <img [src]="u.imageUrl" height="40" width="40" class="pull-left" alt="{{u.displayName}}">
                    <span class="name">{{u.displayName}}</span>
                    <span class="email">({{u.emailAddress}})</span>
                  </div>
                </td>
                <td *ngFor="let day of dates" [ngClass]="u.logClass[day.prop]">{{ u.total[day.prop] | convertSecs:{format:pageSettings.logFormat=='1'} }}</td>
                <td>{{u.grandTotal | convertSecs:{format:pageSettings.logFormat=='1'} }}</td>
              </tr>
              <ng-container *ngFor="let t of u.tickets">
                <tr [ngClass]="!u.expanded ? 'hide' : ''" [hidden]="!u.expanded">
                  <td class="data-left">
                    <a *ngIf="t.parent" [attr.href]="t.parentUrl" class="link" target="_blank">{{t.parent}} - </a>
                    <a [attr.href]="t.url" class="link" target="_blank">{{t.ticketNo}}</a> -
                    <span>{{t.summary}}</span>
                  </td>
                  <td [ngSwitch]="pageSettings.breakupMode" *ngFor="let day of dates">
                    <span *ngSwitchDefault title="{{ getComments(t.logs[day.prop]) }}">{{ getTotalTime(t.logs[day.prop]) | convertSecs:{format:pageSettings.logFormat=='1'} }}</span>
                    <div *ngSwitchCase="2"><span *ngFor="let d of t.logs[day.prop]" title="{{(d.logTime | formatTime)}} - {{d.comment}}">{{ d.totalHours | convertSecs:{format:pageSettings.logFormat=='1'} }}; </span></div>
                  </td>
                  <td>{{t.totalHours | convertSecs:{format:pageSettings.logFormat=='1'} }}</td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
          <tbody>
            <tr class="total-row">
              <td>Grand Total <i class="fa fa-arrow-right"></i></td>
              <td *ngFor="let day of dates">{{ groupedData.total[day.prop] | convertSecs:{format:pageSettings.logFormat=='1'} }}</td>
              <td>{{ groupedData.grandTotal | convertSecs:{format:pageSettings.logFormat=='1'} }}</td>
            </tr>
          </tbody>
        </table>
      </p-scrollPanel>
      <p-dataTable #tblFlat *ngIf="flatData && pageSettings.groupMode == '2'" [value]="flatData"
                   sortMode="multiple" resizableColumns="true" columnResizeMode="expand"
                   reorderableColumns="true" scrollable="true" [scrollHeight]="(contentHeight - 30) + 'px'">
        <p-column header="Group Name" field="groupName" [sortable]="true"></p-column>
        <p-column header="Type" field="issueType" [sortable]="true"></p-column>
        <p-column header="Parent" field="parent" [sortable]="true">
          <ng-template let-row="rowData" pTemplate="body">
            <a *ngIf="row.parent" [attr.href]="row.parentUrl" class="link" target="_blank">{{row.parent}}</a>
          </ng-template>
        </p-column>
        <p-column header="Ticket No" field="ticketNo" [sortable]="true">
          <ng-template let-row="rowData" pTemplate="body">
            <a [attr.href]="row.ticketUrl" class="link" target="_blank">{{row.ticketNo}}</a>
          </ng-template>
        </p-column>
        <p-column header="Summary" field="summary"></p-column>
        <p-column header="Log Date & Time" field="logTime" [sortable]="true">
          <ng-template let-row="rowData" pTemplate="body">
            {{row.logTime | formatDateTime}}
          </ng-template>
        </p-column>
        <p-column header="User" field="userDisplay" [sortable]="true"></p-column>
        <p-column header="Hr. Spent" field="timeSpent" [sortable]="true">
          <ng-template let-row="rowData" pTemplate="body">
            {{row.timeSpent | convertSecs:{format:pageSettings.logFormat=='1'} }}
          </ng-template>
        </p-column>
        <p-column header="Comment" field="comment"></p-column>
      </p-dataTable>
    </p-panel>
  </p-panel>
</div>
<p-dialog header="Add users" [(visible)]="showGroupsPopup" [breakpoint]="2500" appendTo="body" [baseZIndex]="9999" [modal]="true" [dismissableMask]="false" [autoAlign]="true">
  <app-group-editor [(groups)]="groups" (onDone)="showGroupsPopup=false"></app-group-editor>
</p-dialog>
<p-dialog [(visible)]="showSettings" responsive="false" appendTo="body"
          [baseZIndex]="9999" [modal]="true" [dismissableMask]="false" [autoAlign]="true" (onHide)="saveSettings()">
  <p-header>
    Report configurations
  </p-header>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">Grouping</label>
    <div class="col-md-9 col-form-label">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="pageSettings.groupMode" type="radio" value="1" name="grouping">
          Display report grouped based on User and date
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="pageSettings.groupMode" type="radio" value="2" name="grouping">
          Display report in flat structure without any grouping
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">Log hour format</label>
    <div class="col-md-9 col-form-label">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="pageSettings.logFormat" type="radio" value="1" name="hourformat">
          Format hours (2h 30m)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="pageSettings.logFormat" type="radio" value="2" name="hourformat">
          Show in hours (2.5)
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">Log breakup</label>
    <div class="col-md-9 col-form-label">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="pageSettings.breakupMode" type="radio" value="1" name="logbreakup">
          Single entry (Sum worklog added for same ticket on same day)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="pageSettings.breakupMode" type="radio" value="2" name="logbreakup">
          Individual entry (Display individual entry for each of the worklog)
        </label>
      </div>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" icon="fa-floppy-o" label="Done" (click)="showSettings=false"></button>
  </p-footer>
</p-dialog>
