<div [ngClass]="isFullScreen?'full-screen':''">
  <p-panel styleClass="p-no-padding">
    <p-header>
      <div class="ui-helper-clearfix">
        <i class="fa fa-clock-o"></i>
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{ queryModel.queryName || 'Query report viewer' }}</span>
        <div class="pull-right">
          <button pButton [icon]="isFullScreen?'fa-compress':'fa-expand'" (click)="toggleFullScreen()"></button>
          <button pButton icon="fa-refresh" (click)="fillReport()"></button>
          <div jaExport [element]="tbl" *ngIf="hasReportData" [fileName]="queryModel.queryName"></div>
          <button *ngIf="isGadget" pButton icon="fa-times" (click)="removeGadget()"></button>
        </div>
      </div>
    </p-header>
    <p-blockUI [target]="pnlCtl" [blocked]="isLoading">
      <i class="fa fa-refresh fa-spin fa-5x" style="position:absolute;top:25%;left:50%"></i>
    </p-blockUI>
    <p-panel [showHeader]="false" #pnlCtl>
      <p-scrollPanel [style]="{width: '100%', height: contentHeight + 'px'}" styleClass="cont-div">
        <table #tbl *ngIf="hasReportData" class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr class="data-center">
              <th *ngFor="let g of displayFields; trackBy:index" [attr.rowspan]="g.rowspan" [attr.colspan]="g.colspan">{{g.text}}</th>
            </tr>
            <tr class="data-center" *ngIf="subFields.length">
              <th *ngFor="let g of subFields; trackBy:index">{{g.text}}</th>
            </tr>
          </thead>
          <tbody *ngIf="!hasReportData && !pnlGroupRpt.isLoading">
            <tr><td [attr.colspan]="displayFields.length">No records exists</td></tr>
          </tbody>
          <tbody [hidden]="!hasReportData" [innerHTML]="reportHtml"></tbody>
        </table>
      </p-scrollPanel>
    </p-panel>
  </p-panel>
</div>
