<p-tieredMenu #menu [model]="contextMenu" [popup]="true" appendTo="body"></p-tieredMenu>
<p-contextMenu #cm [model]="contextMenu"></p-contextMenu>
<div [ngClass]="isFullScreen?'full-screen':''">
  <p-panel styleClass="p-no-padding">
    <p-header>
      <div class="ui-helper-clearfix drag-handle" ngxDragHandle>
        <i class="fa fa-bookmark"></i>
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Bookmark</span>
        <div class="pull-right">
          <button pButton [icon]="isFullScreen?'fa-compress':'fa-expand'" (click)="toggleFullScreen()"></button>
          <button pButton icon="fa-refresh" (click)="fillBookmarksList();"></button>
          <div jaExport [element]="tbl" fileName="Bookmarks"></div>
          <button pButton icon="fa-plus" (click)="showAddPopup=true"></button>
          <button pButton icon="fa-trash-o" class="ui-button-danger" (click)="deleteBookmark()"></button>
          <button pButton icon="fa-times" (click)="removeGadget()"></button>
        </div>
      </div>
    </p-header>
    <p-blockUI [target]="pnlCtl" [blocked]="isLoading">
      <i class="fa fa-refresh fa-spin fa-5x" style="position:absolute;top:25%;left:50%"></i>
    </p-blockUI>
    <p-panel [showHeader]="false" #pnlCtl>
      <p-dataTable #tbl [value]="bookmarksList" sortMode="multiple" resizableColumns="true" [columnResizeMode]="columnResizeMode" responsive="false"
                   reorderableColumns="true" scrollable="true" [contextMenu]="cm" [style]="{'height':contentHeight+'px'}" styleClass="fix-height"
                   selectionMode="single" [(selection)]="selectedTicket" [scrollHeight]="(contentHeight - 30) + 'px'"
                   emptyMessage="You have not yet bookmarked any tickets. Bookmark your frequently used tickets"
                   [rowStyleClass]="getRowStatus">
        <p-column [style]="{'width':'30px'}" styleClass="data-center">
          <ng-template let-b="rowData" pTemplate="header">
            <input type="checkbox" [(ngModel)]="selAllBks" (click)="selectAll(selAllBks)" />
          </ng-template>
          <ng-template let-b="rowData" pTemplate="body">
            <input type="checkbox" [(ngModel)]="b.selected" [hidden]="!b.selected" />
            <i [hidden]="b.selected" class="fa fa-ellipsis-v" (click)="showContext($event, b, menu);"></i>
          </ng-template>
        </p-column>
        <p-column header="Ticket No" field="ticketNo" [sortable]="true" [style]="{'width':'100px'}">
          <ng-template let-b="rowData" pTemplate="body">
            <a href="{{b.ticketNo | toTicketUrl}}" class="link strike" target="_blank">{{b.ticketNo}}</a>
          </ng-template>
        </p-column>
        <p-column header="Type" class="strike" field="issuetype" [sortable]="true" [style]="{'width':'100px'}">
          <ng-template let-b="rowData" pTemplate="body">
            <img class="img-x16" src="{{b.issuetypeIcon}}" />{{b.issuetype}}
          </ng-template>
        </p-column>
        <p-column header="Summary" class="strike" field="summary" [style]="{'width':'280px'}"></p-column>
        <p-column header="Assignee" field="assigneeName" [sortable]="true" [style]="{'width':'130px'}"></p-column>
        <p-column header="Reporter" field="reporterName" [sortable]="true" [style]="{'width':'130px'}"></p-column>
        <p-column header="Priority" field="priority" [sortable]="true" [style]="{'width':'90px'}">
          <ng-template let-b="rowData" pTemplate="body">
            <img class="img-x16" src="{{b.priorityIcon}}" />{{b.priority}}
          </ng-template>
        </p-column>
        <p-column header="Status" field="status" [sortable]="true" [style]="{'width':'90px'}">
          <ng-template let-b="rowData" pTemplate="body">
            <img class="img-x16" src="{{b.statusIcon}}" />{{b.status}}
          </ng-template>
        </p-column>
        <p-column header="Resolution" field="resolution" [sortable]="true" [style]="{'width':'120px'}">
          <ng-template let-b="rowData" pTemplate="body">
            <img class="img-x16" src="{{b.resolutionIcon}}" *ngIf="b.resolutionIcon" />{{b.resolution}}
          </ng-template>
        </p-column>
        <p-column header="Created" field="createdDate" [sortable]="true" [style]="{'width':'170px'}">
          <ng-template let-b="rowData" pTemplate="body">
            {{b.createdDate | formatDateTime}}
          </ng-template>
        </p-column>
        <p-column header="Updated" field="updatedDate" [sortable]="true" [style]="{'width':'170px'}">
          <ng-template let-b="rowData" pTemplate="body">
            {{b.updatedDate | formatDateTime}}
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-panel>
  </p-panel>
</div>

<p-dialog header="Add Bookmark" [visible]="showAddPopup" [breakpoint]="1000" appendTo="body" [baseZIndex]="9999"
          [dismissableMask]="false" [autoAlign]="true" (onHide)="showAddPopup=false">
  <p-chips [(ngModel)]="ticketsList" max="30" placeholder="Enter one or more ticket numbers"
           allowDuplicate="false" addOnTab="true" addOnBlur="true"></p-chips>
  <strong>Note:</strong> Press enter key to add multiple items
  <p-footer>
    <button type="button" class="btn btn-primary" (click)="addBookmark(ticketsList)">Save</button>
    <button type="button" class="btn btn-default" (click)="showAddPopup=false">Cancel</button>
  </p-footer>
</p-dialog>
