<p-dataView #users [paginator]="false" layout="grid" [value]="selectedGroup.users" emptyMessage="No users available under this group.">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-md-12">
          <div class="pull-left r-margin-15">
            <p-inplace #groupEditor>
              <span pInplaceDisplay><strong>{{selectedGroup.name}} ({{selectedGroup.users.length}} users)</strong> <i class="fa fa-edit"></i></span>
              <div class="ui-inputgroup" pInplaceContent>
                <input type="text" #groupName [value]="selectedGroup.name" maxlength="40" />
                <button pButton type="button" icon="fa-check" class="ui-button-success" (click)="groupEditor.active=!updateGroupName(groupName.value)"></button>
                <button pButton type="button" icon="fa-undo" class="ui-button-danger" (click)="groupEditor.active=false"></button>
              </div>
            </p-inplace>
          </div>

          <div class="pull-left ui-g-6 no-padding">
            <div class="ui-inputgroup">
              <p-autoComplete #userSuggestion [(ngModel)]="selectedUsers" [suggestions]="userList" field="displayName"
                              [multiple]="true" minLength="2" [forceSelection]="true" placeholder="Add one or more users"
                              (completeMethod)="searchUsers($event)"></p-autoComplete>
              <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="clearUsers()"></button>
              <button pButton type="button" icon="fa-check" class="ui-button-success" (click)="addUsers()"></button>
            </div>
          </div>

          <div class="ui-inputgroup pull-right">
            <div class="ui-inputgroup" [hidden]="mode_groupAdd">
              <p-dropdown [options]="groups" optionLabel="name" [(ngModel)]="selectedGroup"
                          placeholder="Select a group" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
              <button pButton type="button" icon="fa-plus" class="ui-button-success" (click)="mode_groupAdd=true"></button>
              <button pButton type="button" icon="fa-trash" class="ui-button-danger" (click)="deleteGroup()"></button>
            </div>
            <div class="ui-inputgroup" [hidden]="!mode_groupAdd">
              <input type="text" [(ngModel)]="newGroupName" #ctlNewGroupName maxlength="40" placeholder="Name of new group" />
              <button pButton type="button" icon="fa-check" class="ui-button-success" [disabled]="!newGroupName" (click)="mode_groupAdd=!addNewGroup(newGroupName)"></button>
              <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="mode_groupAdd=false;newGroupName=''"></button>
            </div>
          </div>
          <!--<div style="position:relative">
            <input type="search" pInputText placeholder="Find a user" (keyup)="users.filter($event.target.value)">
          </div>-->
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-user pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="user.displayName" [style]="{'text-align':'center'}">
        <img src="{{user.avatarUrls['48x48']}}" width="60">
        <div class="user-detail">{{user.emailAddress}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton class="ui-button-danger" type="button" icon="fa-times" (click)="removeUser(user,$event)" style="margin-top:0"></button>
        <button pButton type="button" icon="fa-search" (click)="selectUser(user,$event)" style="margin-top:0"></button>
        <button pButton type="button" icon="fa-external-link" style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
  <p-footer>
    <div class="ui-helper-clearfix">
      <div class="ui-g pull-right">
        <div class="ui-g-12 ui-md-12">
          <button class="btn btn-success" *ngIf="!isPlugged" (click)="saveGroups()">Save Changes</button>
          <button class="btn btn-default" *ngIf="isPlugged" (click)="done()">Done</button>
        </div>
      </div>
    </div>
  </p-footer>
</p-dataView>
