<div [ngClass]="isFullScreen?'full-screen':''">
  <p-panel styleClass="p-no-padding" [showHeader]="!hideHeader">
    <p-header>
      <div class="ui-helper-clearfix drag-handle" ngxDragHandle>
        <i class="fa fa-filter"></i>
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Saved Query</span>
        <div class="pull-right">
          <button pButton [icon]="isFullScreen?'fa-compress':'fa-expand'" (click)="toggleFullScreen()"></button>
          <button pButton icon="fa-refresh" (click)="fillSavedQuery();"></button>
          <!--<button pButton icon="fa-plus"></button>-->
          <button pButton icon="fa-trash-o" class="ui-button-danger" (click)="deleteQuery()"></button>
          <button pButton icon="fa-times" (click)="removeGadget()"></button>
        </div>
      </div>
    </p-header>
    <p-blockUI [target]="pnlCtl" [blocked]="isLoading">
      <i class="fa fa-refresh fa-spin fa-5x" style="position:absolute;top:25%;left:50%"></i>
    </p-blockUI>
    <p-panel [showHeader]="false" #pnlCtl>
      <p-dataTable [value]="savedQueries" sortMode="multiple" resizableColumns="true" [columnResizeMode]="columnResizeMode" responsive="false"
                   reorderableColumns="true" scrollable="true" [style]="{'height':contentHeight+'px'}" styleClass="fix-height"
                   [scrollHeight]="(contentHeight - 30) + 'px'" emptyMessage="No records exists!">
        <p-column [style]="{'width':'30px'}" styleClass="data-center">
          <ng-template pTemplate="header">
            <input type="checkbox" [(ngModel)]="selAllSQ" (click)="selectAll(selAllSQ)" />
          </ng-template>
          <ng-template let-w="rowData" pTemplate="body">
            <input type="checkbox" [(ngModel)]="w.selected" />
          </ng-template>
        </p-column>
        <p-column header="Name" field="queryName" [sortable]="true" [style]="{'width':'200px'}"></p-column>
        <p-column header="Created On" field="dateCreated" [sortable]="true" [style]="{'width':'130px'}">
          <ng-template let-w="rowData" pTemplate="body">
            {{w.dateCreated | formatDateTime}}
          </ng-template>
        </p-column>
        <p-column header="Enabled" field="timeSpent" class="data-center" [sortable]="true" [style]="{'width':'60px'}">
          <ng-template let-w="rowData" pTemplate="body">
            <label class="switch switch-small"><input type="checkbox" [(ngModel)]="w.isEnabled" /><span (click)="queryEnabled(w)"></span></label>
          </ng-template>
        </p-column>
        <p-column header="Filter Fields" field="filtersCount" [sortable]="true" [style]="{'width':'90px'}"></p-column>
        <p-column header="Output fields" field="outputCount" [sortable]="true" [style]="{'width':'90px'}"></p-column>
      </p-dataTable>
    </p-panel>
  </p-panel>
</div>
