<div [ngClass]="isFullScreen?'full-screen':''">
  <p-tieredMenu #menu [model]="contextMenu" [popup]="true" appendTo="body"></p-tieredMenu>
  <p-panel styleClass="p-no-padding">
    <p-header>
      <div class="ui-helper-clearfix">
        <i class="fa fa-clock-o"></i>
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Worklog - [Pending Upload]</span>
        <div class="pull-right">
          <button pButton [icon]="isFullScreen?'fa-compress':'fa-expand'" (click)="toggleFullScreen()"></button>
          <button pButton icon="fa-refresh" (click)="fillWorklogs();"></button>
          <div jaExport [element]="tbl" fileName="Pending Worklog"></div>
          <button pButton icon="fa fa-upload" (click)="uploadWorklog()"></button>
          <button pButton class="ui-button-danger" icon="fa-trash-o" (click)="deleteWorklog()"></button>
          <button pButton icon="fa-times" (click)="onAction.emit({ action: 100 });"></button>
        </div>
      </div>
    </p-header>
    <p-blockUI [target]="pnlCtl" [blocked]="isLoading">
      <i class="fa fa-refresh fa-spin fa-5x" style="position:absolute;top:25%;left:50%"></i>
    </p-blockUI>
    <p-panel [showHeader]="false" #pnlCtl>
      <p-scrollPanel [style]="{width: '100%', height: contentHeight + 'px'}" styleClass="cont-div">
        <table #tbl class="table table-responsive-sm table-bordered table-striped table-sm no-margin">
          <thead>
            <tr>
              <th style="width:25px;"><input type="checkbox" [(ngModel)]="selAllWks" (click)="selectAll(selAllWks)" /></th>
              <th style="min-width:100px;">Ticket No</th>
              <th style="min-width:250px;">Summary</th>
              <th style="min-width:170px;">Log Time</th>
              <th style="min-width:90px;">Time Spent</th>
              <th style="min-width:110px;">Override Time</th>
              <th style="min-width:80px;">Auto Log</th>
              <th style="min-width:400px;">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="worklogs && worklogs.length == 0"><td colspan="8">No worklog pending to be uploaded!</td></tr>
            <tr *ngFor="let w of worklogs" [ngClass]="getRowStatus(w)">
              <td class="data-center">
                <input type="checkbox" [(ngModel)]="w.selected" [hidden]="!w.selected" />
                <i [hidden]="w.selected" class="fa fa-ellipsis-v" (click)="showContext($event, w, menu);"></i>
              </td>
              <td><a href="{{getTicketUrl(w.ticketNo)}}" class="link strike" target="_blank">{{w.ticketNo}}</a></td>
              <td class="strike">{{w.summary}}</td>
              <td>{{w.dateStarted | formatDateTime}}</td>
              <td>{{w.timeSpent | formatTs}}</td>
              <td>{{w.overrideTimeSpent | formatTs}}</td>
              <td>{{w.canUpdate | yesno}}</td>
              <td>{{w.description}}</td>
            </tr>
          </tbody>
        </table>
      </p-scrollPanel>
    </p-panel>
  </p-panel>
</div>
