<div [ngClass]="isFullScreen?'full-screen':''">
  <p-tieredMenu #menu [model]="contextMenuItems" [popup]="true" appendTo="body"></p-tieredMenu>
  <p-panel styleClass="p-no-padding" [showHeader]="!hideHeader">
    <p-header>
      <div class="ui-helper-clearfix drag-handle" ngxDragHandle>
        <i class="fa fa-calendar"></i>
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{title}}</span>
        <div class="pull-right">
          <div *ngIf="!isGadget" style="display:inline-block">
            <button pButton icon="fa-arrow-left" (click)="calendar.prev()"></button>
            <button pButton icon="fa-arrow-right" (click)="calendar.next()"></button>
            <p-dropdown [options]="viewModes" [(ngModel)]="settings.viewMode" placeholder="Select a view mode" (onChange)="viewModeChanged()"></p-dropdown>
          </div>
          <button pButton [icon]="isFullScreen?'fa-compress':'fa-expand'" (click)="toggleFullScreen()"></button>
          <button pButton icon="fa-refresh" (click)="fillCalendar();"></button>
          <button *ngIf="!isGadget" pButton icon="fa-cogs" (click)="showSettings=true"></button>
          <button *ngIf="isGadget" pButton icon="fa-times" (click)="removeGadget()"></button>
        </div>
      </div>
    </p-header>
    <p-blockUI [target]="pnlCtl" [blocked]="isLoading">
      <i class="fa fa-refresh fa-spin fa-5x" style="position:absolute;top:25%;left:50%"></i>
    </p-blockUI>
    <p-panel [showHeader]="false" #pnlCtl>
      <p-schedule #calendar [events]="events" fixedWeekCount="false" eventLimit="true" editable="true"
                  slotDuration="00:15:00" droppable="true" allDayText="total" header="false" nowIndicator="true" navLinks="true"
                  [minTime]="startOfDay" [maxTime]="endOfDay" [defaultView]="settings.viewMode" [height]="contentHeight + 30" [businessHours]="businessHours"
                  [options]="fullCalendarOpts"
                  (onViewRender)="viewRender($event.view,$event.element)"
                  (onEventDrop)="eventDrop($event.event,$event.delta,$event.revertFunc,$event.jsEvent,$event.ui,$event.view)"
                  (onEventResize)="eventResize($event.event,$event.delta,$event.revertFunc,$event.jsEvent,$event.ui,$event.view)"
                  (onEventClick)="eventClick($event.calEvent, $event.jsEvent, $event.view)"></p-schedule>
    </p-panel>
  </p-panel>
</div>

<p-overlayPanel #opEvent [dismissable]="true" [showCloseIcon]="true" styleClass="event-popover">
  <div class="event-details" *ngIf="currentMeetingItem">
    <div class="header">
      <div class="controls"></div>
      <div class="title">{{currentMeetingItem.summary}}</div>
    </div>
    <div class="body">
      <div class="detail">
        <div class="title"><i class="fa fa-clock-o"></i></div>
        <div class="info">
          <span>{{currentMeetingItem.schedule.date}}</span>
          <span class="info">{{currentMeetingItem.schedule.startTime}} - {{currentMeetingItem.schedule.endTime}}</span>
        </div>
      </div>
      <div class="detail" *ngIf="currentMeetingItem.location">
        <div class="title"><i class="fa fa-map-marker"></i></div>
        <div class="info">{{currentMeetingItem.location}}</div>
      </div>
      <div class="detail" *ngIf="currentMeetingItem.videoCall">
        <div class="title"><i class="fa fa-video-camera"></i></div>
        <div class="info"><a [attr.href]="currentMeetingItem.videoCall.url">Join Hangouts: {{currentMeetingItem.videoCall.name}}</a></div>
      </div>
      <div class="detail pointer" *ngIf="currentMeetingItem.attendees">
        <div class="title"><i class="fa fa-users"></i></div>
        <div class="info" (click)="currentMeetingItem.showAttendees=!currentMeetingItem.showAttendees">
          <div class="icon pull-right"><i class="fa" [ngClass]="currentMeetingItem.showAttendees ? 'fa-angle-up' : 'fa-angle-down'"></i></div>
          <div>
            <span>{{currentMeetingItem.attendees.total}} guests</span>
            <span class="info">
              <font *ngIf="currentMeetingItem.attendees.yes">{{currentMeetingItem.attendees.yes}} yes,</font>
              <font *ngIf="currentMeetingItem.attendees.no">{{currentMeetingItem.attendees.no}} no,</font>
              <font *ngIf="currentMeetingItem.attendees.tentative">{{currentMeetingItem.attendees.tentative}} tentative,</font>
              <font *ngIf="currentMeetingItem.attendees.awaiting">{{currentMeetingItem.attendees.awaiting}} awaiting</font>
            </span>
          </div>
        </div>
        <div class="attendees" [hidden]="!currentMeetingItem.showAttendees">
          <div class="attendee" *ngFor="let attendee of currentMeetingItem.attendees.list">
            <span class="name" *ngIf="attendee.displayName">{{attendee.displayName}}</span>
            <span class="email" *ngIf="attendee.email">({{attendee.email}})</span>
          </div>
        </div>
      </div>
      <div class="detail">
        <div class="title"><i class="fa fa-align-justify"></i></div>
        <div class="info" [innerHTML]="currentMeetingItem.description | cut:currentMeetingItem.descrLimit"></div>
        <div style="text-align:center;" *ngIf="currentMeetingItem.description > currentMeetingItem.descrLimit">
          <span class="link" *ngIf="currentMeetingItem.descrLimit > 0; else showLess" (click)="currentMeetingItem.descrLimit=-1">show all</span>
          <ng-template #showLess><span class="link" (click)="currentMeetingItem.descrLimit=350">show less</span></ng-template>
        </div>
      </div>
      <!--<div class="detail">
        <div class="title"></div>
        <div class="info"></div>
      </div>-->
    </div>
  </div>
</p-overlayPanel>

<add-worklog [(showPopup)]="showAddWorklogPopup" (onDone)="showAddWorklogPopup=false; addEvent($event)" [(worklogItem)]="worklogItem"></add-worklog>

<p-dialog [(visible)]="showSettings"
          breakpoint="800" width="800" appendTo="body" [baseZIndex]="9999"
          modal="true" dismissableMask="false" autoAlign="true" (onHide)="saveSettings()">
  <p-header>Calendar configurations</p-header>
  <h3 class="control-sidebar-heading">Item Colors</h3>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">Meeting entry color</label>
    <div class="col-md-9 col-form-label">
      <ja-color-picker [(colorCode)]="settings.eventColor"></ja-color-picker>
      <label class="form-check-label">
        Specify the color of the entry for meeting
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">Worklog entry color</label>
    <div class="col-md-9 col-form-label">
      <ja-color-picker [(colorCode)]="settings.worklogColor"></ja-color-picker>
      <label class="form-check-label">
        Specify the color of the worklog entry
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">Info color (Valid)</label>
    <div class="col-md-9 col-form-label">
      <ja-color-picker [(colorCode)]="settings.infoColor_valid"></ja-color-picker>
      <label class="form-check-label">
        Specify the color of the info entry when the total hours logged is equal to the max hours to log setting
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">Info color (Less)</label>
    <div class="col-md-9 col-form-label">
      <ja-color-picker [(colorCode)]="settings.infoColor_less"></ja-color-picker>
      <label class="form-check-label">
        Specify the color of the info entry when the total hours logged is lesser than the max hours to log
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">Info color (High)</label>
    <div class="col-md-9 col-form-label">
      <ja-color-picker [(colorCode)]="settings.infoColor_high"></ja-color-picker>
      <label class="form-check-label">
        Specify the color of the info entry when the total hours logged is higher than the max hours to log
      </label>
    </div>
  </div>

  <h3 class="control-sidebar-heading">Show / Hide Entries</h3>
  <div class="form-group">
    <label class="control-sidebar-subheading">
      <input type="checkbox" [(ngModel)]="settings.showMeetings" />
      Display entry for meetings integrated from calendar
    </label>
  </div>
  <div class="form-group">
    <label class="control-sidebar-subheading">
      <input type="checkbox" [(ngModel)]="settings.showWorklogs" />
      Display worklog added by you
    </label>
  </div>
  <div class="form-group">
    <label class="control-sidebar-subheading">
      <input type="checkbox" [(ngModel)]="settings.showInfo" />
      Display information about total hours logged on daily basis
    </label>
  </div>
  <p-footer>
    <button pButton type="button" icon="fa-floppy-o" label="Done" (click)="showSettings=false"></button>
  </p-footer>
</p-dialog>
