<p-tieredMenu #menu [model]="contextMenu" [popup]="true" appendTo="body"></p-tieredMenu>
<p-contextMenu #cm [model]="contextMenu"></p-contextMenu>
<div [ngClass]="isFullScreen?'full-screen':''">
  <p-panel styleClass="p-no-padding" [showHeader]="!hideHeader">
    <p-header>
      <div class="ui-helper-clearfix drag-handle" ngxDragHandle>
        <i class="fa fa-list-alt"></i>
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Daywise worklog</span>
        <div class="pull-right">
          <app-date-range-picker [(ngModal)]="settings.dateRange" width="200" (selected)="dateSelected($event)"></app-date-range-picker>
          <button pButton [icon]="isFullScreen?'fa-compress':'fa-expand'" (click)="toggleFullScreen()"></button>
          <button pButton icon="fa-refresh" (click)="fillWorklogs();"></button>
          <div jaExport [element]="tbl" fileName="Datewise worklog"></div>
          <button pButton icon="fa-times" (click)="removeGadget()"></button>
        </div>
      </div>
    </p-header>
    <p-blockUI [target]="pnlCtl" [blocked]="isLoading">
      <i class="fa fa-refresh fa-spin fa-5x" style="position:absolute;top:25%;left:50%"></i>
    </p-blockUI>
    <p-panel [showHeader]="false" #pnlCtl>
      <p-dataTable #tbl [value]="worklogs_DW" sortMode="multiple" resizableColumns="true" [columnResizeMode]="columnResizeMode" responsive="false"
                   reorderableColumns="true" scrollable="true" [contextMenu]="cm" [style]="{'height':contentHeight+'px'}" styleClass="fix-height"
                   selectionMode="single" [(selection)]="selectedDay" [scrollHeight]="(contentHeight - 100) + 'px'"
                   emptyMessage="No worklog exists for selected date range!" [rowStyleClass]="getRowStatus">
        <p-column header="Logged Date" field="dateLogged" [sortable]="true" [style]="{'width':'130px'}">
          <ng-template let-w="rowData" pTemplate="body">
            <i class="fa fa-ellipsis-v" style="margin-right:3px;" (click)="showContext($event, w, menu);"></i>
            {{w.dateLogged | formatDate}}
          </ng-template>
        </p-column>
        <p-column header="Total Hours" field="totalHours" [sortable]="true" [style]="{'width':'120px'}">
          <ng-template let-w="rowData" pTemplate="body">
            {{w.totalHours | formatTs}}
            <span *ngIf="w.difference">({{w.difference | formatTs}})</span>
          </ng-template>
        </p-column>
        <p-column header="Uploaded" field="uploaded" [sortable]="true" [style]="{'width':'100px'}">
          <ng-template let-w="rowData" pTemplate="body">
            {{w.uploaded | formatTs}}
          </ng-template>
        </p-column>
        <p-column header="Pending Upload" field="pendingUpload" [sortable]="true" [style]="{'width':'150px'}">
          <ng-template let-w="rowData" pTemplate="body">
            {{w.pendingUpload | formatTs}}
          </ng-template>
        </p-column>
        <p-column header="Ticket List" [style]="{'width':'400px'}">
          <ng-template let-w="rowData" pTemplate="body">
            <ul class="tags">
              <li *ngFor="let ld of w.ticketList">
                <a class="badge badge-pill skin-bg-font" *ngIf="ld.worklogId" href="{{getWorklogUrl(ld.ticketNo, ld.worklogId)}}" target="_blank" title="{{ld.comment}}">
                  <span class="fa fa-clock-o"></span> {{ld.ticketNo}}: {{ld.uploaded | formatTs}}
                </a>
                <a class="badge badge-pill skin-bg-font" nohref *ngIf="!ld.worklogId" (click)="editWorklog(ld.id)" title="{{ld.comment}}">
                  <span class="fa fa-clock-o"></span> {{ld.ticketNo}}: {{ld.uploaded | formatTs}}
                </a>
              </li>
            </ul>
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-panel>
  </p-panel>
</div>
