/* Style of no gadget div displayed in dashboard when no gadgets are added */
div.no-widget-div {
  width: 100%;
  height: 50vh;
  font-size: 30px;
  text-align: center;
  border: 2px dashed grey;
  padding: 115px 15px;
  background-color: whitesmoke;
}

/* style for layout-1 */
div.layout-1 {
  .widget-cntr {
    width: calc(50% - 3px);
    float: left;
    height: calc(50vh - 48px);
    margin-top: 6px;
  }

  .widget-cntr:nth-child(1), .widget-cntr:nth-child(2) {
    margin-top: 0px;
  }

  .widget-cntr:nth-child(odd) {
    margin-right: 3px;
  }

  .widget-cntr:nth-child(even) {
    margin-left: 3px;
  }
}

div.dummy-layout-1 {
  .widget-cntr {
    width: 45%;
    height: 45%;
  }
}

/* style for layout-2 */
div.layout-2 {
  .widget-cntr {
    width: 100%;
    float: left;
    height: calc(50vh - 48px);
    margin-top: 6px;
  }

  .widget-cntr:first-child {
    margin-top: 0px;
  }
}

div.dummy-layout-2 {
  .widget-cntr {
    height: 45%;
    width: 96%;
  }
}

/* style for layout-3 */
div.layout-3 {
  .widget-cntr {
    width: calc(50% - 3px);
    float: left;
    height: calc(100vh - 90px);
  }

  .widget-cntr:nth-child(odd) {
    margin-right: 3px;
  }

  .widget-cntr:nth-child(even) {
    margin-left: 3px;
  }
}

div.dummy-layout-3 {
  .widget-cntr {
    height: 96%;
    width: 45%;
  }
}

/* style for layout-4 */
div.layout-4 {
  .widget-cntr {
    width: calc(50% - 3px);
  }

  .widget-cntr:nth-child(3n-2) {
    height: calc(100vh - 95px);
    margin-top: 6px;
    margin-right: 3px;
  }

  .widget-cntr:nth-child(3n-1), .widget-cntr:nth-child(3n) {
    float: right;
    height: calc(50vh - 50px);
    margin-left: 3px;
    margin-top: 6px;
  }

  .widget-cntr:first-child, .widget-cntr:nth-child(2) {
    margin-top: 0px;
  }
}

div.dummy-layout-4 {
  .widget-cntr:nth-child(3n-2) {
    height: 96%;
    width: 45%;
  }

  .widget-cntr:nth-child(3n-1), .widget-cntr:nth-child(3n) {
    height: 45%;
    width: 45%;
  }
}

/* style for layout-5 */
div.layout-5 {
  .widget-cntr {
    height: calc(50vh - 48px);
    margin-top: 6px;
  }

  .widget-cntr:nth-child(3n-2) {
    width: 100%;
  }

  .widget-cntr:nth-child(3n-1), .widget-cntr:nth-child(3n) {
    width: calc(50% - 3px);
  }

  .widget-cntr:nth-child(3n-1) {
    margin-right: 6px;
  }

  .widget-cntr:first-child {
    margin-top: 0;
  }
}

div.dummy-layout-5 {
  .widget-cntr:nth-child(3n-2) {
    height: 45%;
    width: 96%;
  }

  .widget-cntr:nth-child(3n-1) {
    height: 45%;
    width: 45%;
  }

  .widget-cntr:nth-child(3n) {
    height: 45%;
    width: 45%;
  }
}

/* style for layout-6 */
div.layout-6 {
  .widget-cntr {
    height: calc(50vh - 48px);
    margin-top: 6px;
  }

  .widget-cntr:nth-child(3n-2) {
    width: calc(50% - 3px);
    margin-right: 6px;
  }

  .widget-cntr:nth-child(3n-1) {
    width: calc(50% - 3px);
  }

  .widget-cntr:nth-child(3n) {
    width: 100%;
  }

  .widget-cntr:first-child, .widget-cntr:nth-child(2) {
    margin-top: 0px;
  }
}

div.dummy-layout-6 {
  .widget-cntr:nth-child(3n-2) {
    height: 45%;
    width: 45%;
  }

  .widget-cntr:nth-child(3n-1) {
    height: 45%;
    width: 45%;
  }

  .widget-cntr:nth-child(3n) {
    height: 45%;
    width: 96%;
  }
}

div.layout-7 {
  .widget-cntr {
    height: calc(100vh - 44px);
    width: 100%;
  }

  &.dashboard-gadz .widget-cntr {
    height: calc(100vh - 90px);
  }
}

div.dummy-layout-7 {
  .widget-cntr {
    height: 96%;
    width: 96%;
  }
}

/* common styles for layout */
div.dummy-layout .widget-cntr {
  border: 1px dashed grey;
  margin: 2px;
}

div.widget-cntr {
  float: left;
  overflow: hidden;
}

div.dummy-layout {
  float: left;
  margin: 3px;
  height: 80px;
  width: 100px;
  cursor: pointer;
  border: 2px solid lightgrey;
  overflow: hidden;
}

div.dummy-layout:hover {
  border: 2px solid blue;
}

div.dummy-layout.selected {
  border: 2px solid red;
}
